:root {
  --primary-color: #0161a8;
  --secondary-color:#bd0c14;
  --third-color:#dfc800;
}

* {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .header-2 .sticky-header {
    display: none;
  }
}
.header-two .primary-header {
  width: 100%;
  position: absolute;
  left: 0;
  height: 80px;
  bottom: 0;
  transform: translateY(50%);
  z-index: 9;
  background-color: transparent !important;
}
@media screen and (max-width: 992px) {
  .header-two .primary-header {
    z-index: 9;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    transform: translateY(0);
  }
}
.header-two .mid-header .mid-header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.header-two .header-logo img {
  max-width: 70%;
  margin-bottom: 20px;
}
.header-two .mid-header {
  padding: 16px 0 6px 0;
}
.header-two .mid-header ul {
  display: flex;
  align-items: center;
}
.header-two .mid-header ul li {
  display: flex;
  padding-left: 15px;
  position: relative;
  line-height: 20px;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  font-size: 12px;
  letter-spacing: 0;
  font-weight: 500;
  flex-direction: row;
  align-items: center;
}
.header-two .mid-header ul li > span {
  margin-right: 6px;
}
.header-two .mid-header ul li .icon {
  position: relative;
  color: var(--secondary-color);
  transform: translateY(0%);
}

.about-section .about-item {
  width: 100%;
  height: 400px;
}
.about-section .about-item > img {
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.read-more {
  color: var(--secondary-color);
}

.header-2 .sticky-header {
  background-color: var(--primary-color);
}

.dl-slider .default-btn {
  background-color: var(--secondary-color);
}

.icon-box {
  color: var(--secondary-color);
  border-color: rgba(189, 12, 20, 0.5098039216);
}
.icon-box > span {
  background-color: var(--secondary-color);
  color: #fff;
  border-color: rgba(189, 12, 20, 0.5098039216);
}

.feature-section {
  background-image: url("../../img/b--5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.feature-section .feature-wrap {
  background-color: rgba(189, 12, 20, 0.5098039216);
}

.project-section .project-thumb {
  height: 50vh;
  padding: 10px;
  object-fit: cover;
}
.project-section .project-thumb > img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  border-radius: 8px;
}
.project-section .project-content span {
  background-color: var(--secondary-color);
}

.cta-section {
  background-image: url("../../img/b-7.jpg");
}

.service-section .wow {
  margin-bottom: 16px;
}
.service-section .service-box {
  margin-bottom: 16px;
  height: 100%;
  border-radius: 16px;
}
.service-section .service-box:hover {
  background-color: var(--primary-color);
}
.service-section .service-box:hover .service-icon > img {
  filter: brightness(0) invert(1);
}
.service-section .service-icon {
  color: var(--primary-color);
}
.service-section .service-icon > img {
  border: 2px solid #ddd;
  border-radius: 8px;
}

.widget-section {
  background-color: var(--primary-color);
}
.widget-section .widget-contact li i {
  color: #fff;
}
.widget-section .widget-box .widget-title h3:after {
  background-color: var(--third-color);
}
.widget-section .wt-subscribe-form .form-control {
  border-color: var(--third-color);
}
.widget-section .wt-subscribe-form button {
  background-color: var(--primary-color);
}

.sponsor-item {
  height: 150px;
  background-color: #fff;
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 992px) {
  .header-two .mid-header {
    display: none;
  }
  .header-menu-wrap ul {
    display: block;
  }
}
.mobile-menulink {
  display: none;
}
@media screen and (max-width: 992px) {
  .mobile-menulink {
    display: block;
  }
}

@media screen and (max-width: 992px) {
  .mobile-menu-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 90%;
  }
  .mobile-menu-icon .logo-menu img {
    width: 95px;
  }
  .viewport-sm .primary-header-two .header-right .search-icon {
    display: none;
  }
  .header-two .primary-header-inner {
    border-radius: 0px;
    padding: 0px;
    backdrop-filter: blur(0px);
  }
  .header-menu-wrap ul {
    flex-direction: column;
  }
  .primary-header-two .container {
    padding: 0;
    width: 100%;
    padding: 0;
    max-width: 100%;
  }
  .primary-header-two .header-right .header-btn {
    display: none;
  }
  .header-2 .sticky-header {
    display: none;
  }
}
.hero-sectionslider .slider-content-wrap {
  height: 550px;
}

@media screen and (min-width: 240px) and (max-width: 767px) {
  .hero-sectionslider .slider-content-wrap {
    margin-top: 50px;
  }
  .primary-header-two.scroll {
    backdrop-filter: blur(10px);
  }
  .primary-header-two.scroll .primary-header-inner {
    background-color: rgba(40, 52, 64, 0.7) !important;
  }
  .top-bar {
    display: none;
  }
  .header-two .primary-header-inner {
    background: transparent;
    backdrop-filter: blur(0px);
  }
  .header-two .primary-header-inner.scroll {
    position: relative;
  }
  .mobile-menulink {
    display: block !important;
  }
  .logo-menu {
    display: block !important;
  }
  .header-menu-wrap ul {
    padding-left: 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .mobile-menulink {
    display: block !important;
  }
  .header-menu-wrap ul {
    padding-left: 0px;
  }
  .header-two .primary-header-inner {
    padding: 20px;
    height: 70px;
  }
  .header-two .primary-header {
    position: sticky;
    top: 0;
  }
  .logo-menu {
    display: block !important;
  }
}
.footer-section {
  background-color: #fff;
}
.footer-section p {
  color: var(--primary-color);
  font-weight: 600;
}

.primary-header-two .header-menu-wrap ul li > a:hover {
  color: var(--secondary-color);
}

.dl-slider .slick-dots li.slick-active button {
  background-color: var(--third-color) !important;
}

.counter-section .counter-content i {
  color: var(--secondary-color);
}

.about-page-inner .about-list li i {
  color: var(--secondary-color);
}
.about-page-inner .page-header .overlay {
  background-color: rgba(6, 27, 73, 0.5);
}
.about-page-inner .page-header {
  background-image: url("../../img/b-1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}
.about-page-inner .blog-item .blog-thumb .category {
  background-color: var(--secondary-color);
}
.about-page-inner .counter-section .counter-content i {
  color: var(--secondary-color);
}

.working-process-box .icon-box {
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
}
.working-process-box .icon-box > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  padding: 20px;
}

.servive-page-inner .working-process-box .icon-box {
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
}
.servive-page-inner .working-process-box .icon-box > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  padding: 20px;
}
.servive-page-inner .page-header .overlay {
  background-color: rgba(6, 27, 73, 0.5);
}
.servive-page-inner .page-header {
  background-image: url("../../img/b-1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}

.mission-section {
  background: #f9f9f9;
  padding: 5rem 0;
}
.mission-section .image-grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  gap: 1rem;
}
.mission-section .image-grid .img-large {
  grid-column: 1/3;
  border-radius: 12px;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.mission-section .image-grid .img-top, .mission-section .image-grid .img-bottom {
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
}
.mission-section .mission-content {
  padding-left: 2rem;
}
.mission-section .mission-content h2 {
  font-family: "Poppins", Sans-serif;
  font-size: 42px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -1px;
  text-transform: capitalize;
  color: #263a4f;
  margin: 0 0 20px;
}
.mission-section .mission-content .highlight-box {
  margin-top: 2rem;
  background-color: rgba(1, 97, 168, 0.1803921569);
  color: #1c1c1c;
  padding: 1.25rem 2rem;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  gap: 1rem;
}
.mission-section .mission-content .highlight-box .icon {
  background: #26c3c3;
  color: #fff;
  padding: 0.75rem;
  border-radius: 50%;
  font-size: 1.25rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.mission-section .mission-content .highlight-box p {
  margin: 0;
  font-weight: 600;
}
@media (max-width: 767px) {
  .mission-section .image-grid {
    display: flex;
    flex-direction: column;
  }
  .mission-section .mission-content {
    padding-left: 0;
    margin-top: 2rem;
  }
}

.faq-inner .faq-item .card-header button[aria-expanded=true] {
  background-color: var(--secondary-color);
}
.faq-inner .page-header .overlay {
  background-color: rgba(6, 27, 73, 0.5);
}
.faq-inner .page-header {
  background-image: url("../../img/b-1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}

.header-right a.header-btn.active {
  color: var(--secondary-color);
}

.contact-page-inner .contact-wrap {
  position: relative;
  border-radius: 16px;
  margin-bottom: 20px;
}
@media screen and (max-width: 992px) {
  .contact-page-inner .contact-wrap {
    margin-top: 22px;
  }
}
.contact-page-inner .page-header .overlay {
  background-color: rgba(6, 27, 73, 0.5);
}
.contact-page-inner .page-header {
  background-image: url("../../img/b-1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}
.contact-page-inner .contact-details li i {
  color: var(--secondary-color);
  font-size: 14px;
  padding-right: 20px;
}

.arcgis-scope {
  padding: 30px;
  background: #f9f9f9;
  border-radius: 8px;
}
.arcgis-scope .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}
.arcgis-scope h1 {
  font-size: 20px;
  margin-bottom: 1.5rem;
}
.arcgis-scope h2 {
  font-size: 16px;
  margin-top: 1rem;
}
.arcgis-scope ul {
  list-style: none;
  padding-left: 0;
}
.arcgis-scope ul li {
  margin-bottom: 0.75rem;
  font-size: 1rem;
  color: #555;
}
.arcgis-scope ul li ul {
  margin-top: 0.5rem;
  padding-left: 1.5rem;
}
.arcgis-scope ul li ul li {
  list-style: disc;
}

.login-page .login-wrapper {
  height: 100dvh;
}
.login-page .login-slider {
  background: var(--primary-color);
  color: #fff;
  height: 100%;
  position: relative;
}
@media screen and (max-width: 767px) {
  .login-page .login-slider {
    display: none;
  }
}
.login-page .login-slider .slick-list {
  height: 100%;
}
.login-page .login-slider .slick-list .slick-track {
  height: 100%;
}
.login-page .login-slider .slick-list .slick-slide {
  height: 100%;
}
.login-page .login-slider .slick-list .slick-slide > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.login-page .login-slider .slick-dots {
  position: absolute;
}
.login-page .login-slider .slider-item {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
}
.login-page .login-slider .slider-item .overlay {
  background-color: rgba(41, 108, 255, 0.12);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.login-page .login-slider .slider-item .caption-text {
  top: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.login-page .login-slider .slider-item .caption-text > h2 {
  color: #fff;
}
.login-page .login-slider .slider-item .caption-text > p {
  font-size: 1.2rem;
  max-width: 500px;
  margin: 0 auto;
  color: #fff;
  text-align: center;
}
.login-page .login-slider .slider-item h1 {
  font-size: 2.5rem;
}
.login-page .login-slider .slider-item p {
  font-size: 1.2rem;
}
.login-page .login-slider .slick-dots li button {
  font-size: 0;
  color: transparent;
}
.login-page .login-slider .slick-dots li button::before {
  content: "";
}
.login-page .login-form {
  padding: 40px;
  height: 100vh;
}
.login-page .login-form .footer-container {
  position: absolute;
  bottom: 0;
}
.login-page .login-form .logo {
  width: 200px;
  margin: 0 auto;
}
.login-page .login-form .btn-login {
  background-color: var(--primary-color);
  color: #fff;
  height: 44px;
}
.login-page .login-form .form-control {
  height: 48px;
}
.login-page .login-form .form-control:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: none;
}
.login-page .login-form form {
  max-width: 400px;
}

/* ================= ROOT VARIABLES ================= */
:root {
  --color-primary: #7380ec;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;
  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;
  --card-padding: 1.8rem;
  --padding-1: 1.2rem;
  --box-shadow: 0 2rem 3rem var(--color-light);
}

.dark-theme-variables {
  --color-background: #181a1e;
  --color-white: #202528;
  --color-dark: #edeffd;
  --color-dark-variant: #a3bdcc;
  --color-light: rgba(0, 0, 0, 0.4);
  --box-shadow: 0 2rem 3rem var(--color-light);
}

/* ================= GENERAL STYLES ================= */
/* ================= SIDEBAR ================= */
aside .top {
  background: var(--primary-color);
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

aside .logo {
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}
aside .logo > h5 {
  margin-bottom: 0;
  color: #fff;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 100;
}

aside .logo img {
  width: 100px;
  height: auto;
}

aside .close {
  display: none;
}

/* SIDEBAR NAV */
aside .sidebar {
  background: var(--color-white);
  display: flex;
  flex-direction: column;
  height: 86vh;
  position: relative;
  top: 3rem;
}

aside h3 {
  font-weight: 500;
}

aside .sidebar a {
  display: flex;
  color: var(--color-info-dark);
  margin-left: 2rem;
  gap: 1rem;
  align-items: center;
  position: relative;
  height: 3.7rem;
  transition: all 300ms ease;
}

aside .sidebar a span {
  font-size: 1.6rem;
  transition: all 300ms ease;
}

aside .sidebar a:last-child {
  position: absolute;
  bottom: 2rem;
  width: 100%;
}

aside .sidebar a.active {
  background: var(--color-light);
  color: var(--color-primary);
  margin-left: 0;
}

aside .sidebar a.active:before {
  content: "";
  width: 6px;
  height: 100%;
  background: var(--color-primary);
}

aside .sidebar a.active span {
  color: var(--color-primary);
  margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover {
  color: var(--color-primary);
}

aside .sidebar a:hover span {
  margin-left: 1rem;
}

aside .sidebar .message-count {
  background: var(--color-danger);
  color: var(--color-white);
  padding: 2px 10px;
  font-size: 11px;
  border-radius: var(--border-radius-1);
}

/* ================= MAIN CONTENT ================= */
main {
  margin-top: 1.4rem;
}

main .insights {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}

main .insights > div {
  background: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  margin-top: 1rem;
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}

main .insights > div:hover {
  box-shadow: none;
}

main .insights > div span {
  background: var(--color-primary);
  padding: 0.5rem;
  border-radius: 50%;
  color: var(--color-white);
  font-size: 2rem;
}

main .insights > div.expenses span {
  background: var(--color-danger);
}

main .insights > div.income span {
  background: var(--color-success);
}

main .insights > div .middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .insights h3 {
  margin: 1rem 0 0.6rem;
  font-size: 1rem;
}

/* RECENT ORDERS TABLE */
main .recent-orders {
  margin-top: 2rem;
}

main .recent-orders h2 {
  margin-bottom: 0.8rem;
}

main .recent-orders table {
  background: var(--color-white);
  width: 100%;
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  text-align: center;
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}

main .recent-orders table:hover {
  box-shadow: none;
}

main table tbody td {
  height: 2.8rem;
  border-bottom: 1px solid var(--color-light);
  color: var(--color-dark-variant);
}

main table tbody tr:last-child td {
  border: none;
}

main .recent-orders a {
  text-align: center;
  display: block;
  margin: 1rem auto;
  color: var(--color-primary);
}

/* ================= RIGHT SIDE ================= */
.right {
  margin-top: 1.4rem;
}

.right .top {
  display: flex;
  justify-content: end;
  gap: 2rem;
}

.right .top button {
  display: none; /* Hide hamburger on desktop */
}

.right .theme-toggler {
  background: var(--color-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.6rem;
  width: 4.2rem;
  cursor: pointer;
  border-radius: var(--border-radius-1);
}

.right .theme-toggler span {
  font-size: 1.2rem;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right .theme-toggler span.active {
  background: var(--color-primary);
  color: white;
  border-radius: var(--border-radius-1);
}

/* PROFILE */
.right .top .profile {
  display: flex;
  gap: 2rem;
  text-align: right;
  position: relative; /* For the dropdown */
}

.right .profile .profile-photo {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.right .profile .profile-menu {
  position: absolute;
  top: calc(100% + 1rem);
  right: 0;
  background: var(--color-white);
  border-radius: var(--border-radius-2);
  box-shadow: var(--box-shadow);
  padding: var(--padding-1);
  width: 150px;
  z-index: 10;
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
  transition: all 300ms ease;
}

.right .profile .profile-menu.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.right .profile-menu ul li a {
  padding: 0.6rem var(--padding-1);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--color-dark);
  transition: all 300ms ease;
}

.right .profile-menu ul li a:hover {
  background: var(--color-light);
  border-radius: var(--border-radius-1);
}

.right .profile-menu ul li a span {
  font-size: 1.2rem;
}

/* ================= MEDIA QUERIES (TABLETS) ================= */
@media screen and (max-width: 1200px) {
  .container {
    width: 94%;
    grid-template-columns: 7rem auto 23rem;
  }
  aside .logo h2 {
    display: none;
  }
  aside .sidebar h3 {
    display: none;
  }
  aside .sidebar a {
    width: 5.6rem;
  }
  aside .sidebar a:last-child {
    position: relative;
    margin-top: 1.8rem;
  }
  main .insights {
    grid-template-columns: 1fr;
    gap: 0;
  }
  main .recent-orders {
    width: 94%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 2rem 0 0 8.8rem;
  }
  main .recent-orders table {
    width: 83vw;
  }
  main table thead tr th:first-child,
  main table thead tr th:last-child {
    display: none;
  }
  main table tbody tr td:first-child,
  main table tbody tr td:last-child {
    display: none;
  }
}
/* ================= MEDIA QUERIES (PHONES) ================= */
@media screen and (max-width: 768px) {
  aside {
    position: fixed;
    left: -100%;
    background: var(--color-white);
    width: 18rem;
    z-index: 3;
    box-shadow: 1rem 3rem 4rem var(--color-light);
    height: 100vh;
    padding-right: var(--card-padding);
    display: none;
    animation: showMenu 400ms ease forwards;
  }
  @keyframes showMenu {
    to {
      left: 0;
    }
  }
  aside.show {
    display: block;
  }
  aside .logo h2 {
    display: inline;
  }
  aside .sidebar h3 {
    display: inline;
  }
  aside .sidebar a {
    width: 100%;
    height: 3.4rem;
  }
  aside .sidebar a:last-child {
    position: absolute;
    bottom: 5rem;
  }
  aside .close {
    display: inline-block;
    cursor: pointer;
  }
  main {
    margin-top: 8rem;
    padding: 0 1rem;
  }
  main .recent-orders {
    position: relative;
    margin: 3rem 0 0 0;
    width: 100%;
  }
  main .recent-orders table {
    width: 100%;
    margin: 0;
  }
  .right {
    width: 94%;
    margin: 0 auto 4rem;
  }
  .right .top {
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    padding: 0 0.8rem;
    height: 4.6rem;
    background: var(--color-white);
    width: 100%;
    margin: 0;
    z-index: 2;
    box-shadow: 0 1rem 1rem var(--color-light);
  }
  .right .top .theme-toggler {
    width: 4.4rem;
    position: absolute;
    left: 66%;
  }
  .right .profile .info {
    display: none;
  }
  .right .top button {
    display: inline-block;
    background: transparent;
    cursor: pointer;
    color: var(--color-dark);
    position: absolute;
    left: 1rem;
  }
  .right .top button span {
    font-size: 2rem;
  }
}

/*# sourceMappingURL=custom_style.css.map */
