:root {
    --primary-color: #0161a8;
    --secondary-color:#bd0c14;
    --third-color:#dfc800;
  }
*{
    margin:0;
    padding:0;
}
@media screen and (max-width:767px){
    .header-2 .sticky-header{
        display:none;
    }
}

.header-two{
    .primary-header {
        width: 100%;
        position: absolute;
        left: 0;
        height:80px;
        bottom: 0;
        transform: translateY(50%);
        z-index: 9;
        background-color:transparent  !important;
        @media screen and (max-width:992px){
            z-index: 9;
            position: fixed;
            top: 0;
            width: 100%;
            left: 0;
            right: 0;
            transform: translateY(0);
        }
    }
    .mid-header .mid-header-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .header-logo img {
        max-width: 70%;
        margin-bottom:20px;
    }
    .mid-header {
    padding: 16px 0 6px 0;
        ul{
            display:flex;
            align-items:center;
        }
     ul li {
        display: flex;
        padding-left: 15px;
        position: relative;
        line-height: 20px;
        font-family: "Poppins", sans-serif;
        text-transform: capitalize;
        font-size: 12px;
        letter-spacing: 0;
        font-weight: 500;
        flex-direction: row;
        align-items: center;
        &>span{
            margin-right:6px;
        }
        .icon{
            position: relative;
            color:var(--secondary-color);
            transform: translateY(0%);
        }
     }
    }
}
.hero-sectionslider{
    .inner-layer{
        .animation-text{

        }
    }
}

.about-section{
    .about-item{
        width:100%;
        height:400px;
        &>img{
            height:100%;
            object-fit:cover;
            border-radius:8px;
        }
    }
}
.read-more{
    color:var(--secondary-color);
}
.header-2 .sticky-header{
    background-color:var(--primary-color);
}
.dl-slider .default-btn{
    background-color:var(--secondary-color);
}
.icon-box{
    color:var(--secondary-color);
    border-color:#bd0c1482;
    &>span{
        background-color:var(--secondary-color);
        color:#fff;
        border-color:#bd0c1482;
    }
}
.feature-section{
    background-image:url('../../img/b--5.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    .feature-wrap{
       background-color:#bd0c1482; 
    }
}
.project-section{
    .project-thumb {
    height:50vh;
    padding:10px;
    object-fit: cover;
    &>img{
        width:100%;
         object-fit: cover;
        height:100%;
        border-radius:8px;
    }
    }
    .project-content span{
        background-color:var(--secondary-color);
    }
}
.cta-section{
    background-image:url('../../img/b-7.jpg');
}
.service-section{
    .service-box{
        
    }
    .wow{
        margin-bottom:16px;
    }
    .service-box{
        margin-bottom:16px;
        height: 100%;
        border-radius:16px;
        &:hover{
            background-color:var(--primary-color);
            .service-icon{
            &>img{
                 filter: brightness(0) invert(1);
            }
        }
        }
    }
    .service-icon{
        color:var(--primary-color);
        &>img{
            border: 2px solid #ddd;
            border-radius: 8px;
        }
       
    }
}
.widget-section{
    background-color:var(--primary-color);
    .widget-contact li i{
        color:#fff;
    }
    .widget-box .widget-title h3:after{
        background-color:var(--third-color);
    }
    .wt-subscribe-form .form-control{
        border-color:var(--third-color);
    }
    .wt-subscribe-form button{
        background-color:var(--primary-color);
    }
}
.sponsor-item{
    height:150px;
    background-color:#fff;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
}
@media (max-width: 992px) {
    .header-two .mid-header {
        display: none;
    }
    .header-menu-wrap ul{
        display:block;
    }
}
.mobile-menulink{
    display:none;
    @media screen and (max-width:992px){
        display:block;
    }
}

@media screen and (max-width:992px){
    .mobile-menu-icon {
        display:flex;
        align-items:center;
        justify-content:space-between;
        flex-direction:row-reverse;
        width:90%;
        .logo-menu{
            img{
                width:95px;
            }
        }
    }
    .viewport-sm .primary-header-two .header-right .search-icon{
        display:none;
    }
    .header-two .primary-header-inner{
        border-radius:0px;
        padding:0px;
        backdrop-filter: blur(0px);
    }
    .header-menu-wrap ul{
        flex-direction:column;
    }
    .primary-header-two{
        .container{
            padding:0;
            width: 100%;
            padding: 0;
            max-width: 100%;
        }
        .header-right{
            .header-btn{
                display:none;
            }
        }
    }
    .header-2 .sticky-header{
        display:none;
    }

}
.hero-sectionslider{
    .slider-content-wrap{
      height:550px;
    }
}
@media screen and (min-width:240px) and (max-width:767px){
    .hero-sectionslider{
        .slider-content-wrap{
            margin-top:50px;
        }
    }
    .primary-header-two{
        &.scroll{
            backdrop-filter: blur(10px);
            .primary-header-inner{
                background-color: rgba(40, 52, 64, 0.7) !important;
            }
        }
       
    }
    .top-bar {
        display: none;
    }
    .header-two .primary-header-inner{
        background:transparent;
        backdrop-filter: blur(0px);
    }
    .header-two .primary-header-inner.scroll{
       position: relative;
    }
    .mobile-menulink{
        display:block !important;
    }
    .logo-menu{
        display:block !important;
    }
    .header-menu-wrap ul{
        padding-left:0px;
    }
}
@media screen and (min-width:768px) and (max-width:992px){
    .mobile-menulink{
        display:block !important;
    }
    .header-menu-wrap ul{
        padding-left:0px;
    }
    .header-two .primary-header-inner{
        padding:20px;
        height:70px;
    }
    .header-two .primary-header{
        position:sticky;
        top:0;
    }
    .logo-menu{
        display:block !important;
    }
}
.footer-section{
    background-color:#fff;
    p{
        color:var(--primary-color);
        font-weight:600;
    }
}
.primary-header-two .header-menu-wrap ul li > a:hover{
    color:var(--secondary-color);
}
.dl-slider .slick-dots li.slick-active button{
    background-color:var(--third-color) !important;
}

.counter-section{
    .counter-content {
        i{
            color:var(--secondary-color);
        }
    }
}

// aboutpage
.about-page-inner{
    .about-list li i{
        color:var(--secondary-color);
    }
    .page-header .overlay{
        background-color: rgb(6 27 73 / 50%);
    }
    .page-header {
        background-image: url('../../img/b-1.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
        height: 350px;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;
    }
    .blog-item .blog-thumb .category{
        background-color:var(--secondary-color);
    }
    .counter-section{
        .counter-content {
            i{
                color:var(--secondary-color);
            }
        }
    }
}

.servive-page-inner{
    
    .page-header .overlay{
        background-color: rgb(6 27 73 / 50%);
    }
    .page-header {
        background-image: url('../../img/b-1.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
        height: 350px;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;
    }
    
}

.mission-section {
    background:#f9f9f9;
    padding: 5rem 0;
  
    .image-grid {
      position: relative;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto auto;
      gap: 1rem;
  
      .img-large {
        grid-column: 1 / 3;
        border-radius: 12px;
        width: 100%;
        height: auto;
        object-fit: cover;
      }
  
      .img-top, .img-bottom {
        width: 100%;
        border-radius: 12px;
        object-fit: cover;
      }
    }
  
    .mission-content {
      padding-left: 2rem;
  
      h2 {
        font-family: "Poppins", Sans-serif;
        font-size: 42px;
        font-weight: 600;
        line-height: 48px;
        letter-spacing: -1px;
        text-transform: capitalize;
        color: #263a4f;
        margin: 0 0 20px;
      }
      .highlight-box {
        margin-top: 2rem;
        background-color:#0161a82e;
        color: #1c1c1c;
        padding: 1.25rem 2rem;
        border-radius: 10px;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
        display: flex;
        align-items: center;
        gap: 1rem;
  
        .icon {
          background: #26c3c3;
          color: #fff;
          padding: 0.75rem;
          border-radius: 50%;
          font-size: 1.25rem;
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        }
  
        p {
          margin: 0;
          font-weight: 600;
        }
      }
    }
  
    @media (max-width: 767px) {
      .image-grid {
        display: flex;
        flex-direction: column;
      }
  
      .mission-content {
        padding-left: 0;
        margin-top: 2rem;
      }
    }
  }
  
  .faq-inner{
    .faq-item .card-header button[aria-expanded="true"]{
        background-color:var(--secondary-color);
    }
    .page-header .overlay{
        background-color: rgb(6 27 73 / 50%);
    }
    .page-header {
        background-image: url('../../img/b-1.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
        height: 350px;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;
    }
  }

  .header-right a.header-btn.active{
    color:var(--secondary-color);
  }
  .contact-page-inner{
    .contact-wrap{
        position: relative;
        border-radius:16px;
        margin-bottom:20px;
        @media screen and (max-width:992px){
            margin-top:22px;
        }
    }
    .page-header .overlay{
        background-color: rgb(6 27 73 / 50%);

    }
    .page-header {
        background-image: url('../../img/b-1.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
        height: 350px;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;
    }
    .contact-details li i {
        color:var(--secondary-color);
        font-size: 14px;
        padding-right: 20px;
    }
  }


  .arcgis-scope {
    padding:30px;
    background:#f9f9f9;
    border-radius:8px;
    .container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 1rem;
    }
    h1 {
      font-size:20px;
      margin-bottom: 1.5rem;
    }
    h2 {
      font-size:16px;
      margin-top: 1rem;
    }
  
    ul {
      list-style: none;
      padding-left: 0;
  
      li {
        margin-bottom: 0.75rem;
        font-size: 1rem;
        color: #555;
  
        ul {
          margin-top: 0.5rem;
          padding-left: 1.5rem;
  
          li {
            list-style: disc;
          }
        }
      }
    }
  }