@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500;600;700&family=Work+Sans:wght@600&display=swap');
:root {
    --primary-color: #0161a8;
    --secondary-color:#bd0c14;
    --third-color:#dfc800;
  }
  

body {
    font-family: 'Open Sans', sans-serif;
    color:#6a8695;
  }
  .btn-electric {
    background-color: #38bdf8;
    color: #0f172a;
    font-weight: 500;
    border-radius: 0.5rem;
  }
  .btn-electric:hover {
    background-color: #7dd3fc;
  }

.top-bar {
    background-color:#0460a3;
}

.top-bar-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
   .top-left{
    &>ul{
        margin-bottom:0;
    }
   }
}

.top-bar .top-left li {
    font-size: 14px;
    color: #fff;
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
    border-right: 1px solid #444;
    margin: 0;
    padding-top: 7px;
    padding-bottom: 7px;
}
.top-bar .top-left li a {
    color: #fff;
    text-decoration: none;
}

.top-bar .top-social {
    padding: 7px 20px;
    border-right: 1px solid #444;
    border-left: 1px solid #444;
    margin-bottom:0px;
}

.top-bar .top-social li {
    display: inline-block;
    margin-left: 13px;
}

.top-bar .top-social li:first-child {
    margin-left: 0;
}

.top-bar .top-social li a {
    color: #fff;
}

.top-bar .top-social li a:hover {
    color: #ddd;
}

@media (max-width: 767px) {
    .top-bar .top-right {
        display: none;
    }

    .top-bar .top-left li,
    .top-bar .top-left li:first-child {
        border: none;
    }

    .top-bar .top-left li {
        padding-left: 0;
        padding-right: 20px;
    }
}


.hero-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 150px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    .bottom-shape{
        position: absolute;
        width: 100%;
        height: auto;
        left: 0;
        bottom: -2px;
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
        z-index: 2;
        color: #fff;
        fill: #fff;
        .elementor-shape-fill {
            transition: fill 1s ease-in-out;
            
          }
    }
    .overlay-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-align: center;
        z-index:200;
        .primary-btn{
            background-color:var(--primary-color);
            border-radius:30px;
            margin-top:20px;
            color:#fff;
        }
        .lead{
            max-width:500px;
            margin:0 auto;
        }
        .small-text{
            margin-bottom: 20px;
            display:none;
            &>span{
                color:#fff;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 15px;
                border:1px solid var(--secondary-color);
                padding: 10px;
                border-radius: 9px;
               
            }
        }
      }
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(to right, #0f172a 10%, transparent);
      z-index: 2;
    }
  
    video.bg-video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
    }
  
    .content {
      position: relative;
      z-index: 3;
      color: #fff;
      text-align: center;
    }
  }
  
  .text-electric {
    color: #38bdf8;
  }
  .navbar-transition {
  transition: background-color 0.4s ease, box-shadow 0.4s ease;
}

.navbar-scrolled {
  padding:20px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
//   background-color: #283440b3;
    background-color:#fff !important;
  padding-bottom: 15px;
  padding-top: 15px;
  top: 0;
}

.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-brand {
  color:var(--primary-color) !important;
}

.navbar{
    height:80px;
    margin-top:70px;
    &.navbar-scrolled{
        margin-top:0px;
        border-bottom:1px solid var(--secondary-color);
    }
    .logo{
        width:150px;
        &>img{
            width:100%;
            padding:20px;
        }
    }
}

.top-bar {
    background-color:var(--primary-color);
    font-size: 0.9rem;
    color: #fff;
  
    a {
      color: #fff;
      text-decoration: none;
  
      &:hover {
        color: #00d9ff;
      }
    }
  
    .social-icons {
      i {
        transition: color 0.3s ease;
        font-size: 1rem;
  
        &:hover {
          color: #00d9ff;
        }
      }
    }
  }
.main-header{
    .navbar-nav{
        .nav-item{
            padding: 0px 16px;
            .nav-link{
                text-transform:uppercase;
                font-weight:600;
            }
        }
    }
}

.feature-section{
    padding:100px 0;
    .section-heading h4 {
        font-family: "Poppins", Sans-serif;
        font-size: 15px;
        font-weight: 600;
        text-transform: capitalize;
        letter-spacing: 0px;
        color: #0460a3;
        margin: 0 0 15px;
    }
    .section-heading h2 {
        font-size: 42px;
        font-weight: 600;
        line-height: 48px;
        letter-spacing: -1px;
        text-transform: capitalize;
        color: #263a4f;
        margin: 0 0 20px;
    }
    .feature-box{
        position:relative;
        .feature-icon i {
            font-size: 50px;
            color: #fe5a0e;
            position: absolute;
            left: 0;
            top: 12px;
        }
        .feature-info {
            padding-left:70px;
            &>h3{
                font-size: 22px;
                color:#263a4f;
                font-weight: 600;
                line-height: 26px;
            }
            &>p{
                font-size: 15px;
                line-height: 26px;
            }
        }
    }
}


.about-us {
    background: #fff;
    h2{
        color:var(--primary-color);
        font-size:32px;
    }
    .section-label {
      font-size: 0.9rem;
      letter-spacing: 1px;
    }
  
    ul {
      li {
        font-size: 1rem;
        margin-bottom: 0.5rem;
      }
    }
    .primary-btn{
        background-color:var(--primary-color);
        border-radius:0px;
        margin-top:20px;
        color:#fff;
        padding: 0.6rem 1.2rem;
        font-weight: 500;
        font-size: 1rem;
        border-radius: 30px;
    }
    img.rounded {
      border-radius: 1rem;
    }
  
    .text-danger {
      color:var(--secondary-color) !important;
      font-weight: 600 !important;

    }
}
.choose-us-section {
    background-color:#185583;
    position: relative;
    &:after{
        background-image:url(../img/b-9.avif);
        background-repeat:no-repeat;
        position:absolute;
        top:0;
        content:'';
    }
    
    .text-muted{
        color:#fff  !important;
    }
    h2{
        color:#fff;
    }
    .primary-text{
        color:var(--secondary-color);
    }
    .feature-item {
      .icon-box {
        width: 50px;
        height: 50px;
        background: #f0f4ff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
  
      img {
        width: 24px;
        height: 24px;
      }
    }
  
    .gallery {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        .grid{
            position: relative;
            .badge {
                width: 100px;
                height: 100px;
                background:var(--primary-color);
                color: #fff;
                border-radius: 50%;
                display: flex;
                z-index:2;
                align-items: center;
                justify-content: center;
                text-align: center;
                font-weight: bold;
                margin-bottom: 1rem;
                position: absolute;
                top: 160px;
                left: 0;
                right: 0;
                margin: 0 auto;
                span {
                  font-size: 1rem;
                  small {
                    font-weight: normal;
                    font-size: 0.75rem;
                  }
                }
              }
          
              .image-grid {
                display: grid;
                gap: 1rem;
                grid-template-areas:
                  "img1 img2"
                  "cta  cta";
                grid-template-columns: 1fr 1fr;
          
                img {
                  width: 100%;
                  height: auto;
                  border-radius: 12px;
                  object-fit: cover;
                }
          
                img:first-child {
                  grid-area: img1;
                }
          
                img.large {
                  grid-area: img2;
                }
          
                .cta {
                  grid-area: cta;
                  display: flex;
                  justify-content: center;
                  align-items: center;
          
                  button {
                    background: #1e3a8a;
                    color: #fff;
                    border: none;
                    border-radius: 50px;
                    padding: 0.75rem 2rem;
                    font-size: 1rem;
                    cursor: pointer;
                    transition: 0.3s;
          
                    &:hover {
                      background: #0f1f4a;
                    }
                  }
                }
              }
        }
      }
  }
  


.services-section {
    background-color: #fff;
    h2{
        color:var(--primary-color);
    }
    .heading{
        color:var(--secondary-color);
        font-weight:bold;
    }
    .service-card {
      background: linear-gradient(to bottom, #73a8cfc9, #ffffff);
      border: 1px solid #e2e8f0;
      transition: all 0.3s ease;
  
      &:hover {
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
        transform: translateY(-5px);
      }
  
      .icon img {
        background-color: #e5f0ff;
        padding: 10px;
        border-radius: 10px;
      }
  
      h5 {
        font-weight: 600;
        color:var(--secondary-color);
      }
  
      p {
        font-size: 0.9rem;
      }
    }
  
    .primary-btn {
        background-color:var(--primary-color);
        border-radius:0px;
        margin-top:20px;
        color:#fff;
        padding: 0.6rem 1.2rem;
        font-weight: 500;
        font-size: 1rem;
        border-radius: 30px;
    }
  }
  
  